
@{
    ViewData["Title"] = "jQuery";
}

<h1>jQuery</h1>
@Html.Partial("Partial")
<button id="buttonGet" class="btn btn-primary">get</button>
<button id="buttonPost" class="btn btn-secondary">post</button>
<button id="buttonJson" class="btn btn-success">getJson</button>
<button id="buttonLoad" class="btn btn-info">load</button>
<button id="buttonAjax" class="btn btn-warning">ajax</button>
<button id="buttonCors" class="btn btn-danger">cors</button>
<div class="alert alert-dark mt-3 w-50" role="alert" id="divAlert">

</div>
@section Scripts{
    <script>
        $('#buttonGet').click(function () {
            $.get('@Url.Content("~/api/index")', { "name": "Jack", "age": 25 }, function (datas) {
                $('#divAlert').text(datas);
            });
        });

        $('#buttonPost').click(function () {
            $.post('@Url.Content("~/api/index")', { "name": "Mary", "age": 26 }, function (datas) {
                $('#divAlert').text(datas);
            });
        });

        $('#buttonJson').click(function () {
            $.getJSON('@Url.Content("~/api/District")', { "city": "臺北市" }, function (datas) {
                $.each(datas, function (idx, district) {
                    console.log(district);
                })
                $('#divAlert').text(datas);
            });
        });

        $('#buttonLoad').click(function () {
            $('#divAlert').load('@Url.Content("~/home/partial")');
        });

        $('#buttonAjax').click(function () {
            $('#divAlert').text("AJAX")
        })
        $('#buttonCors').click(function () {
            $('#divAlert').text("CORs")
        })

    </script>
}